<div fxLayout="column">
  <mat-toolbar class="myToolbar">
    <div class="myTitles">
      <h3 class="mainTitle">Colegio El Maestro</h3>      
      <h4 class="subTitle">Videos Institucionales</h4>
    </div>

    <div class="appLogin" align="end">
      <app-login *ngIf="!isAdmin" (isAdmin)="changeStatus($event)"></app-login>
      <button *ngIf="isAdmin" mat-raised-button (click)="logout()" class="logoutBtn">
        <mat-icon class="loginIcon">input</mat-icon>Logout
      </button>
    </div>
  </mat-toolbar>

  <div class="mainContent">

    <div>
      <button mat-raised-button class="createButton" (click)="openVideoElementDialog()" [disabled]="!isAdmin">
        <mat-icon>add</mat-icon>Crear
      </button>
    </div>

    <mat-form-field appearance="standard">
      <mat-label>Buscar...</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
    </mat-form-field>

    <div class="thisTable">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
        <ng-container matColumnDef="nombre_evento">
          <th mat-header-cell *matHeaderCellDef> Nombre evento </th>
          <td mat-cell *matCellDef="let element"> {{element.nombreEvento}} </td>
        </ng-container>
  
        <ng-container matColumnDef="descripcion_video">
          <th mat-header-cell *matHeaderCellDef> Descripción video </th>
          <td mat-cell *matCellDef="let element"> {{element.descripcionVideo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="duracion">
          <th mat-header-cell *matHeaderCellDef> Duración </th>
          <td mat-cell *matCellDef="let element"> {{element.duracion}} </td>
        </ng-container>
  
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element"> {{element.fecha | date: 'mediumDate'}} </td>
        </ng-container>
  
        <ng-container matColumnDef="url_video" class="myUrlVideo">
          <th mat-header-cell *matHeaderCellDef> Url video </th>
          <td mat-cell *matCellDef="let element"> {{element.urlVideo}} </td>
        </ng-container>
  
        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Acciones </th>
          <td mat-cell *matCellDef="let element" class="myActions">
  
            <button mat-fab class="editButton" aria-label="Edit button" (click)="updateVideo(element)"
              [disabled]="!isAdmin">
              <mat-icon>edit</mat-icon>
            </button>
  
            <button mat-fab class="deleteButton" aria-label="Delete button" (click)="confirmDelete(element.id)"
              [disabled]="!isAdmin">
              <mat-icon>delete</mat-icon>
            </button>
  
          </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Su búsqueda no coincide con ningún registro "{{input.value}}"</td>
        </tr>
      </table>
    </div>

  </div>
</div>